.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;

}
.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}
#song
{
    width: 120px;
    font-size: 18px;
    
}
canvas
{
    border: 5px solid rgb(129, 107, 107);
    border-radius: 20px;
    margin-top: 50px;
}